<!DOCTYPE html>

<html>
    <head>
        <style>
            body {
                background: white;
                margin: 0;
                font-family: Conv_SFUIDisplay,sans-serif;
            }

            .header span {
                color: #2e3358;
                font-weight: 500;
                font-size: 40px;
                line-height: 70px;
            }

            .header {
                height: 70px;
                padding: 10px 30px;
                width: 100%;
            }

            .strip {
                background: #2e3358;
                padding: 35px 20px 55px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <span>MERIT Statuspage</span>
        </div>
        <div class="strip">
        </div>
        <div class="data">
        </div>
    </body>
</html>